body {
    max-width: 1920px;
    margin: auto;
    font-family: "TT Prosto Sans";
}

.bg {
    background-image: url("../img/1170.psd.png");
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0;
    opacity: 0.5;
}

header {
    z-index: 1000;
    position: fixed;
    top: 0;
    background: white;
    display: block;
    width: 100%;
    max-width: 1920px;
}

img {
    max-width: 100%;
}

.white {
    color: #fff;
}

.light {
    color: #f2b429;
    font-size: 18px;
    font-weight: 700;
}

h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.brand_text {
    /* Style for "анимационн" */
    width: 197px;
    height: 23px;
    opacity: 0.7;
    color: #000000;
    font-family: "Igra Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
}

.content {
    max-width: 1170px;
    margin: auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.topmenu.shadow {
    -webkit-box-shadow: 0px 20px 86px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 20px 86px -22px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 20px 86px -22px rgba(0, 0, 0, 0.75);
}

.topmenu .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 102px;
}

.topmenu_elements {
    width: 591px;
    font-family: "TT Prosto Sans";
    font-size: 14px;
    font-weight: 900;
    height: 100%;
    align-items: center;
    display: flex;
}

.topmenu_elements ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

.topmenu_elements ul li {
    list-style: none;
    height: 100%;
}

.topmenu_elements ul li .active {
    border-bottom: 4px solid;
    padding: 40px 0;
}

.topmenu_elements a {
    text-transform: uppercase;
    text-decoration: none;
    color: #a3a3a3;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    padding: 40px 0;
    line-height: 102px;
}

.topmenu_elements a.active, .topmenu_elements a:hover {
    color: #e21f3d;
}

.topmenu_contacts .tel {
    font-family: "TT Prosto Sans";
    font-size: 24px;
    font-weight: 400;
    color: #010101;
    text-align: center;
    text-decoration: none;
}

.topmenu_contacts .red {
    color: #e21f3d;
}

.topmenu_contacts {
    text-align: center;
}

.topmenu_contacts .email a {
    height: 14px;
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}

h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    width: 390px;
    margin: 0 auto;
    line-height: 1.2;
}

.smallheader {
    color: #f2b429;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px;
}

.topban {
    background-image: url("../img/topbanner.jpg");
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Safari */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    /* Safari */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 102px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.topban a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background-color: #f2b429;
    padding: 20px 0;
    width: 242px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    text-decoration: none;
}

.game_description {
    margin-top: 100px;
    padding-top: 60px;
    margin-bottom: 50px;
}

.game_description h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

.game_description_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.game_description_content_text {
    padding: 0 80px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    -ms-flex-preferred-size: 500px;
    flex-basis: 490px;
    padding-left: 15px;
}

#where {
    margin-top: 200px;
    padding: 25px 0 150px;
    background-image: url("../img/wherebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#where h2 {
    margin-bottom: 33px;
}

#where h2::before, #where h2::after {
    content: "";
    background-repeat: no-repeat;
    width: 147px;
    height: 45px;
    display: inline-block;
    position: relative;
    top: 30px;
}

#where h2::before {
    left: -10px;
    background-image: url(../img/wherebefore.png);
}

#where h2::after {
    background-image: url(../img/whereafter.png);
    left: 10px;
}

.where_headers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 750px;
    margin: auto;
}

.where_variants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.where_variants.content {
    padding: 0 15px;
}

#variant_1, #variant_2 {
    max-width: 555px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px 4px 4px 5px;
}

.variant_toggler {
    text-align: center;
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 15px;
}

.slider_wrapper {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

#price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 30px;
    color: #ffffff;
    font-weight: 900;
    height: 452px;
    background-image: url("../img/red_flag.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
}

#price p {
    text-transform: uppercase;
    margin: auto;
    padding-bottom: 20px;
}

#price p span {
    color: #f2b429;
}

.what {
    background-color: #f2b429;
    padding: 80px 0;
}

.what h2 {
    margin-bottom: 0;
}

.what_elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.what_element {
    /* Style for "Прямоуголь" */
    width: 263px;
    height: 296px;
    border-radius: 5px;
    background-color: #f7f7f7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    padding: 80px 26px 26px;
    margin-top: 100px;
}

.what_element>img {
    position: absolute;
    top: -65px;
    left: 66px;
}

.what_element h3 {
    color: #e21f3d;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 1px;
}

.what_element p {
    height: 110px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

#team {
    padding-top: 50px;
    margin-top: 100px;
}

#team h2 {
    margin: 0 0 35px;
}

#contacts {
    padding-top: 50px;
    margin-top: 100px;
}

#contacts h2 {
    margin-bottom: 40px;
}

#contacts .address, #contacts .tel, #contacts .email {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    margin: 0 0 21px;
}

#contacts .email a {
    color: #000;
    text-decoration: none;
}

#contacts .address::before, #contacts .tel::before, #contacts .email::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    left: -70px;
    position: absolute;
}

#contacts .address::before {
    background-image: url("../img/address.png");
}

#contacts .tel::before {
    background-image: url("../img/tel.png");
}

#contacts .email::before {
    background-image: url("../img/email.png");
}

.contact_element_2  h3 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    line-height: 97px;
}

.contacts_elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact_element_1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 550px;
    margin-right: 30px;
    padding: 0 0 0 70px;
    position: relative;
    height: 552px;
}
form.send {
    display: flex;
    flex-direction: column;
}

.map {
    margin: 39px 0 0 -70px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 323px;
}

.contact_element_2 {
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 359px;
    border-radius: 5px;
    background-color: #f2b429;
    /*height: 552px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

label {
    color: rgba(0,0,0,0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
}

input {
    /* Style for "Прямоуголь" */
    width: 299px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
        margin: 10px 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 10px;

}

textarea {
    border: none;
    outline: none;
    padding: 10px;
    resize: none;
}

input:focus, textarea:focus {
    border: 1px solid #000000;
}

button {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background-color: #e21f3d;
    padding: 23px 0;
    width: 166px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    text-decoration: none;
    border: none;
}

textarea {
    width: 299px;
    height: 120px;
    border-radius: 5px;
    margin: 10px 0 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer {
    background-color: #000;
    height: 98px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-size: 14px;
}

.footer .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.slogan {
    margin: 0 30px;
}

.design {
    margin: 0 30px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

h3 .big {
    font-size: 18px;
    font-weight: 700;
}

#up {
    display: none;
    position: fixed;
    bottom: 150px;
    right: 37px;
    cursor: pointer;
}

.layer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.sendme_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#sendme {
    height: 552px;
    position: relative;
}

.close_layer {
    position: absolute;
    right: -60px;
}

.fotorama__nav-wrap {
    position: absolute;
    z-index: 100;
    bottom: 20px;
}

.fotorama__dot {
    display: block;
    width: 10px;
    height: 10px;
    position: relative;
    top: 12px;
    left: 6px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
    width: 10px;
    height: 10px;
    border-width: 0;
    background-color: #fff;
}


/*------------------------- media ---------------------------*/

@media (max-width: 1170px) {
    .topmenu .content {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 0 22px;
    }
    .topmenu_elements {
        width: 50px;
        height: 50px;
        border-radius: 4px;
        background-color: #f2b429;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        cursor: pointer;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAQAAAADIDABVAAAAAnRSTlMAAHaTzTgAAAATSURBVHjaY/j//z8DCBMDyFALAF0tEe+yq+MwAAAAAElFTkSuQmCC');
        background-repeat: no-repeat;
        background-position: center;
        background-size: initial;
    }
    .brand {
        -webkit-box-flex: 10;
        -ms-flex-positive: 10;
        flex-grow: 10;
    }
    .topmenu_contacts {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .topmenu_elements:focus ul, .topmenu_elements:active ul, .topmenu_elements:hover ul {
        right: 0;
    }
    .topmenu_elements ul {
        top: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: fixed;
        width: 248px;
        background-color: #f2b529;
        right: -250px;
        height: 100%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding-left: 34px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: .5s;
        transition: .5s;
    }
    .topmenu_elements a {
        padding: 10px 0;
        color: #fff;
        line-height: 50px;
    }
    .topmenu_elements a:hover {
        color: #e4213f;
    }
    .topmenu_elements ul li .active {
        border-bottom: none;
    }
    .topban {
        height: auto;
        padding: 150px 0;
        background-size: cover;
    }
    .what_elements {
        -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        max-width: 780px;
    }
    .game_description_content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        max-width: 570px;
        margin: auto;
    }
    .game_description_content_text {
        padding: 70px 0 0 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
    }
    .game_description {}
    #where h2::before, #where h2::after {
        content: none;
    }
    .where_variants {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .where_headers {
        max-width: 400px;
    }
    .variant {
        display: none;
    }
    .variant.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .variant_toggler {
        cursor: pointer;
        padding: 12px 23px;
    }
    .variant_toggler {
        color: #ffffff;
        background-color: #98bcdb;
        cursor: pointer;
        padding: 12px 23px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 30px;
        border: 2px solid #ffffff;
    }
    .variant_toggler.active {
        color: #98bcdb;
        background-color: #ffffff;
    }
    #team {
        padding: 150px 20px 0;
    }
    .contact_element_2 {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .contact_element_1 {
        -ms-flex-negative: 1;
        flex-shrink: 1;
        width: auto;
    }
    iframe {
        max-width: 100%;
    }
    .contacts_elements {
        padding: 0 20px;
    }
    .design {
        display: none;
    }
    .footer {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .topmenu_contacts, .smallheader {
        display: none;
    }
    h1 {
        font-size: 34px;
    }
    h2 {
        line-height: 1;
    }
    .game_description {
        padding-top: 75px;
    }
    .game_description_content {
        padding: 0 16px;
    }
    .where_headers {
        max-width: 320px;
    }
    .variant_toggler {
        font-size: 14px;
    }
    #variant_1, #variant_2 {
        width: 300px;
    }
    .slider_wrapper {
        width: 300px;
        margin: auto;
    }
    #where {
        padding: 25px 0 50px;
    }
}
