body {
    max-width: 1920px;
    margin: auto;
    font-family: "TT Prosto Sans";
}

header {
    z-index: 1000;
    position: fixed;
    top: 0;
    background: white;
    display: block;
    width: 100%;
}

.white {
    color: #fff;
}

h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.brand_text {
    /* Style for "анимационн" */
    width: 197px;
    height: 23px;
    opacity: 0.7;
    color: #000000;
    font-family: "Igra Sans";
    font-size: 12px;
    font-weight: 400;
}

.content {
    width: 1170px;
    margin: auto;
}

.topmenu {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    height: 102px;
}

.topmenu_elements {
    width: 591px;
    height: 12px;
    font-family: "TT Prosto Sans";
    font-size: 14px;
    font-weight: 900;
}

.topmenu_elements ul {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
}

.topmenu_elements ul li {
    list-style: none;
}

.topmenu_elements ul li .active {
    border-bottom: 4px solid;
    padding: 36px 0;
}

.topmenu_elements a {
    text-transform: uppercase;
    text-decoration: none;
    color: #a3a3a3;
}

.topmenu_elements a.active {
    color: #e21f3d;
}

.topmenu_contacts a {
    font-family: "TT Prosto Sans";
    font-size: 24px;
    font-weight: 400;
    color: #010101;
    text-align: center;
    text-decoration: none;
}

.topmenu_contacts .red {
    color: #e21f3d;
}

.topmenu_contacts {
    text-align: center;
}

.topmenu_contacts .email {
    height: 14px;
    color: #000000;
    font-size: 14px;
}

.bigheader {
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    width: 390px;
    margin: 0 auto;
}

.smallheader {
    color: #f2b429;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 35px;
}

.topban {
    background-image: url("../img/topbanner.jpg");
    height: 800px;
    display: flex;
    -webkit-flex-direction: column;
    /* Safari */
    flex-direction: column;
    text-align: center;
    -webkit-justify-content: center;
    /* Safari */
    justify-content: center;
    margin-top: 102px;
}

.topban a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background-color: #f2b429;
    padding: 23px 35px;
    background-color: #f2b429;
    padding: 23px 0;
    width: 242px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    text-decoration: none;
}

.game_description {
    padding-top: 160px;
    margin-bottom: 150px;
}

.game_description h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

.game_description_content {
    display: flex;
}

.game_description_content_text {
    padding: 0 80px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.where {
    padding: 80px 0;
    background-image: url("../img/wherebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.where h2 {
    margin-bottom: 40px;
}

.where h2::before {
    content: "";
    background-image: url(../img/wherebefore.png);
    background-repeat: no-repeat;
    width: 147px;
    height: 45px;
    display: inline-block;
    position: relative;
    left: -20px;
    top: 30px;
}

.where h2::after {
    content: "";
    background-image: url(../img/whereafter.png);
    background-repeat: no-repeat;
    width: 147px;
    height: 45px;
    display: inline-block;
    position: relative;
    left: 20px;
    top: 30px;
}

.where_variants {
    display: flex;
    justify-content: space-between;
}

.variant_1, .variant_2 {
    width: 555px;
    box-sizing: border-box;
}

.variant_toggler {
    text-align: center;
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 15px;
}

.slider {
    background-color: #fff;
    padding: 20px;
}

.price {
    display: flex;
    margin: auto;
    font-size: 30px;
    color: #ffffff;
    font-weight: 900;
    height: 452px;
    background-image: url("../img/red_flag.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.price p {
    text-transform: uppercase;
    margin: auto;
}

.price p span {
    color: #f2b429;
}

.what {
    background-color: #f2b429;
    padding: 80px 0;
}

.what h2 {
    padding-bottom: 100px;
    margin-bottom: 0;
}

.what_elements {
    display: flex;
    justify-content: space-between;
}

.what_element {
    /* Style for "Прямоуголь" */
    width: 263px;
    height: 296px;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    padding: 80px 26px 26px;
}

.what_element>img {
    position: absolute;
    top: -65px;
    left: 66px;
}

.what_element h3 {
    color: #e21f3d;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 1px;
}

.what_element p {
    height: 110px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.team {
    padding: 150px 0;
}

.team h2 {
    margin: 0 0 35px;
}

.contacts {}

.contacts .address::before, .contacts .tel::before, .contacts .email::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.contacts .address::before {
    background-image: url("../img/address.png");
}

.contacts .tel::before {
    background-image: url("../img/tel.png");
}

.contacts .email::before {
    background-image: url("../img/email.png");
}

.contacts h3 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.contacts_elements {
    display: flex;
    justify-content: center;
}

.contact_element_1 {
    box-sizing: border-box;
    width: 550px;
    margin-right: 30px;
}

.contact_element_2 {
    padding: 30px 20px;
    box-sizing: border-box;
    width: 359px;
    border-radius: 5px;
    background-color: #f2b429;
}

.contacts label {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.contacts input {
    /* Style for "Прямоуголь" */
    width: 299px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0 30px;
    box-sizing: border-box;
    border: none;
}

.contacts input:focus {
    border: 1px solid #000000;
}

.contacts button {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background-color: #e21f3d;
    padding: 23px 0;
    width: 166px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    text-decoration: none;
    border: none;
}

.contacts textarea {
    width: 299px;
    height: 120px;
    border-radius: 5px;
    margin: 10px 0 30px;
    box-sizing: border-box;
}
