body {
    max-width: 1920px;
    margin: auto;
    font-family: "TT Prosto Sans";
}

header {
    z-index: 1000;
    position: fixed;
    top: 0;
    background: white;
    display: block;
    width: 100%;
    max-width: 1920px;
}

img {
    max-width: 100%;
}

.white {
    color: #fff;
}

.light {
    color: #f2b429;
}

h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.brand_text {
    /* Style for "анимационн" */
    width: 197px;
    height: 23px;
    opacity: 0.7;
    color: #000000;
    font-family: "Igra Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
}

.content {
    max-width: 1170px;
    margin: auto;
}

.topmenu .content {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    height: 102px;
}

.topmenu_elements {
    width: 591px;
    height: 12px;
    font-family: "TT Prosto Sans";
    font-size: 14px;
    font-weight: 900;
}

.topmenu_elements ul {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
}

.topmenu_elements ul li {
    list-style: none;
}

.topmenu_elements ul li .active {
    border-bottom: 4px solid;
    padding: 36px 0;
}

.topmenu_elements a {
    text-transform: uppercase;
    text-decoration: none;
    color: #a3a3a3;
    transition-duration: .1s;
}

.topmenu_elements a.active {
    color: #e21f3d;
}

.topmenu_contacts a {
    font-family: "TT Prosto Sans";
    font-size: 24px;
    font-weight: 400;
    color: #010101;
    text-align: center;
    text-decoration: none;
}

.topmenu_contacts .red {
    color: #e21f3d;
}

.topmenu_contacts {
    text-align: center;
}

.topmenu_contacts .email {
    height: 14px;
    color: #000000;
    font-size: 14px;
}

.bigheader {
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    width: 390px;
    margin: 0 auto;
}

.smallheader {
    color: #f2b429;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 35px;
}

.topban {
    background-image: url("../img/topbanner.jpg");
    height: 800px;
    display: flex;
    -webkit-flex-direction: column;
    /* Safari */
    flex-direction: column;
    text-align: center;
    -webkit-justify-content: center;
    /* Safari */
    justify-content: center;
    margin-top: 102px;
        background-size: cover;
}

.topban a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background-color: #f2b429;
    padding: 23px 35px;
    background-color: #f2b429;
    padding: 23px 0;
    width: 242px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    text-decoration: none;
}

.game_description {
    padding-top: 160px;
    margin-bottom: 150px;
}

.game_description h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

.game_description_content {
    display: flex;
}

.game_description_content_text {
    padding: 0 80px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    flex-basis: 500px;
}

#where {
    padding: 80px 0;
    background-image: url("../img/wherebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#where h2 {
    margin-bottom: 40px;
}

#where h2::before {
    content: "";
    background-image: url(../img/wherebefore.png);
    background-repeat: no-repeat;
    width: 147px;
    height: 45px;
    display: inline-block;
    position: relative;
    left: -20px;
    top: 30px;
}

#where h2::after {
    content: "";
    background-image: url(../img/whereafter.png);
    background-repeat: no-repeat;
    width: 147px;
    height: 45px;
    display: inline-block;
    position: relative;
    left: 20px;
    top: 30px;
}

.where_variants {
    display: flex;
    justify-content: space-between;
}

.variant_1, .variant_2 {
    width: 555px;
    box-sizing: border-box;
}

.variant_toggler {
    text-align: center;
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 15px;
}

.slider {
    background-color: #fff;
    padding: 20px;
}

#price {
    display: flex;
    margin: auto;
    font-size: 30px;
    color: #ffffff;
    font-weight: 900;
    height: 452px;
    background-image: url("../img/red_flag.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#price p {
    text-transform: uppercase;
    margin: auto;
}

#price p span {
    color: #f2b429;
}

.what {
    background-color: #f2b429;
    padding: 80px 0;
}

.what h2 {
    padding-bottom: 100px;
    margin-bottom: 0;
}

.what_elements {
    display: flex;
    justify-content: space-between;
}

.what_element {
    /* Style for "Прямоуголь" */
    width: 263px;
    height: 296px;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    padding: 80px 26px 26px;
}

.what_element>img {
    position: absolute;
    top: -65px;
    left: 66px;
}

.what_element h3 {
    color: #e21f3d;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 1px;
}

.what_element p {
    height: 110px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

#team{
  padding-top: 150px;
}

#team h2 {
    margin: 0 0 35px;
}

#contacts {
    padding:  150px 0;
}

#contacts h2 {
    margin-bottom: 40px;
}

#contacts .address, #contacts .tel, #contacts .email {
    position: relative;
    align-items: center;
    display: flex;
    height: 50px;
    margin: 0 0 21px;
}

#contacts .address::before, #contacts .tel::before, #contacts .email::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    left: -70px;
    position: absolute;
}

#contacts .address::before {
    background-image: url("../img/address.png");
}

#contacts .tel::before {
    background-image: url("../img/tel.png");
}

#contacts .email::before {
    background-image: url("../img/email.png");
}

#contacts h3 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.contacts_elements {
    display: flex;
    justify-content: center;
}

.contact_element_1 {
    box-sizing: border-box;
    width: 550px;
    margin-right: 30px;
    padding: 0 0 0 70px;
    position: relative;
    height: 552px;
}

.map {
    margin: 39px 0 0 -70px;
    box-sizing: border-box;
    height: 323px;
}

.contact_element_2 {
    padding: 0px;
    box-sizing: border-box;
    width: 359px;
    border-radius: 5px;
    background-color: #f2b429;
    height: 552px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

input {
    /* Style for "Прямоуголь" */
    width: 299px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0 30px;
    box-sizing: border-box;
    border: none;
}

input:focus {
    border: 1px solid #000000;
}

button {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background-color: #e21f3d;
    padding: 23px 0;
    width: 166px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    text-decoration: none;
    border: none;
}

textarea {
    width: 299px;
    height: 120px;
    border-radius: 5px;
    margin: 10px 0 30px;
    box-sizing: border-box;
}

.footer {
    background-color: #000;
    height: 98px;
    display: flex;
    color: #fff;
    font-size: 14px;
}

.footer .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.slogan {
    margin: 0 30px;
}

.design {
    margin: 0 30px;
    flex-grow: 1;
}

.big {
    font-size: 18px;
    font-weight: 700;
}

#up {
    display: none;
    position: fixed;
    bottom: 150px;
    right: 37px;
    cursor: pointer;
}

.layer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.sendme_wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100%;
    align-items: center;

}

#sendme {
    padding: 0px;
    box-sizing: border-box;
    width: 359px;
    border-radius: 5px;
    background-color: #f2b429;
    height: 552px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.close_layer{
  position: absolute;
  right: -60px;
}
