body {
    max-width: 1920px;
    margin: auto;
    font-family: "TT Prosto Sans";
}
header {
    position: fixed;
    top: 0;
    background: white;
    display: block;
    width: 100%;
}
h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.brand_text {
    /* Style for "анимационн" */
    width: 197px;
    height: 23px;
    opacity: 0.7;
    color: #000000;
    font-family: "Igra Sans";
    font-size: 12px;
    font-weight: 400;
}

.content {
    width: 1170px;
    margin: auto;
}

.topmenu {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    height: 102px;
}

.topmenu_elements {
    width: 591px;
    height: 12px;
    font-family: "TT Prosto Sans";
    font-size: 14px;
    font-weight: 900;
}

.topmenu_elements ul {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
}

.topmenu_elements ul li {
    list-style: none;
}
.topmenu_elements ul li .active {
    border-bottom: 4px solid;
    padding: 36px 0;
}

.topmenu_elements a {
    text-transform: uppercase;
    text-decoration: none;
    color: #a3a3a3;
}

.topmenu_elements a.active {
    color: #e21f3d;
}

.topmenu_contacts a {
    font-family: "TT Prosto Sans";
    font-size: 24px;
    font-weight: 400;
    color: #010101;
    text-align: center;
    text-decoration: none;
}

.topmenu_contacts .red {
    color: #e21f3d;
}

.topmenu_contacts {
    text-align: center;
}

.topmenu_contacts .email {
    height: 14px;
    color: #000000;
    font-size: 14px;
}

.bigheader {
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    width: 390px;
    margin: 0 auto;
}

.smallheader {
    color: #f2b429;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 35px;
}


.topban {
    background-image: url("../img/topbanner.jpg");
    height: 800px;
    display: flex;
    -webkit-flex-direction: column;
    /* Safari */
    flex-direction: column;
    text-align: center;
    -webkit-justify-content: center;
    /* Safari */
    justify-content: center;
    margin-top: 102px;
}

.topban a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background-color: #f2b429;
    padding: 23px 35px;
    background-color: #f2b429;
    padding: 23px 0;
    width: 242px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    text-decoration: none;
}

.game_description {
    padding-top: 160px;
}

.game_description h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

.game_description_content {
    display: flex;
}

.game_description_content_text {
    padding: 0 80px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
